.confirmation-box {
  width: 450px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid gainsboro;
  position: fixed;
  top: 200px;
  margin: auto;
  background-color: #ffff;
}
.confirmation-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.conf-cancel {
  padding: 10px 20px;
  border: 2px solid black;
  background-color: #ffff;
  color: black;
  border-radius: 8px;
}

.conf-delete {
  padding: 10px 20px;
  border: 2px solid black;
  background-color: orangered;
  color: black;
  margin: 0px 10px;
  border-radius: 8px;
}
